@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 210 40% 98%;
  }

  [data-theme='dark'] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer components {
  .glass {
    @apply bg-white/80 backdrop-blur-xl  shadow-2xl shadow-black/5;
  }

  [data-theme='dark'] .glass {
    @apply bg-slate-900/90  shadow-black/40;
  }

}